
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1508996356216'); /* IE9*/
  src: url('iconfont.eot?t=1508996356216#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url(data:application/x-font-woff) format('woff'),
  url('iconfont.ttf?t=1508996356216') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1508996356216#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-live"], [class*=" el-icon-live"] {
  font-family:"iconfont" !important;

  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-live-unie60d:before {
  content: "\e604";
}

.el-icon-live-unie61c:before {
  content: "\e609";
}

.el-icon-live-wodelinju01:before {
  content: "\e6e2";
}

.el-icon-live-jichuziliao:before {
  content: "\e603";
}

.el-icon-live-yingxiaoguanli:before {
  content: "\e621";
}

.el-icon-live-mima1:before {
  content: "\e6a6";
}

.el-icon-live-yonghu:before {
  content: "\e602";
}

.el-icon-live-merchant:before {
  content: "\e60d";
}

.el-icon-live-shangpinguanli:before {
  content: "\e61b";
}

.el-icon-live-dingdanguanli:before {
  content: "\e605";
}

.el-icon-live-huiyuanguanli:before {
  content: "\e673";
}

.el-icon-live-wangzhanguanli:before {
  content: "\e600";
}

.el-icon-live-tongjibaobiao:before {
  content: "\e60c";
}

.el-icon-live-caiwu:before {
  content: "\e623";
}
